<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jcy20.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_dog"
        android:label="@string/my_name"
        android:roundIcon="@mipmap/ic_dog"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".lect11Service.ServiceActivity">
        </activity>

        <service
            android:name=".lect11Service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Lect10Net.list.NetListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Lect10Net.WebActivity"
            android:theme="@style/ActNoActionBar" />
        <activity android:name=".Lect10Net.NetActivity" />
        <activity android:name=".lect09Data.DataPersistenceActivity" />
        <activity android:name=".lect08SeniorView.SeniorViewActivity" />
        <activity android:name=".lect07intent.CActivity">
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>
        </activity>
        <activity android:name=".lect07intent.FlagActivity" />
        <activity android:name=".lect07intent.IntentActivity" />
        <activity
            android:name=".lec06Act.ModeActivity"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".lec06Act.LifeActivity"
            android:configChanges="orientation"
            android:launchMode="standard" />
        <activity android:name=".lect05Act.EditActivity" />
        <activity
            android:name=".lect05Act.ForResultActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/custom_label" />
        <activity android:name=".lect05Act.DisplayActivity" />
        <activity android:name=".Les4LayoutActivity" />
        <activity android:name=".LayoutActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".lect05Act.CustomActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/custom_label" />
        <activity android:name=".lect07intent.MyWebActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="ucweb" />
                <data android:scheme="javascript" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ut.21711551" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.UCMobile"
                    android:path="/open_my_video_window"
                    android:scheme="flyme_3dtouch" />
                <data
                    android:host="com.UCMobile"
                    android:path="/open_info_flow_channel_window"
                    android:scheme="flyme_3dtouch" />
                <data
                    android:host="com.UCMobile"
                    android:path="/open_novel_bookshelf_window"
                    android:scheme="flyme_3dtouch" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.uc.cn"
                    android:pathPrefix="/cc77796ca7c25dff9607d31b29effc07"
                    android:scheme="uclink" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="details"
                    android:scheme="market" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/vnd.wap.xhtml+xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--
                    <data
                    android:scheme="@string/0x3f" />
                -->

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="ucweb" />
                <data android:scheme="javascript" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.UCMobile.intent.action.LOADURL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.UCMobile.intent.action.WEBSEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.UCMobile.intent.action.LOADBUFFER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.UCMobile.intent.action.INVOKE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.UCMobile.intent.action.OPENFILEMANAGER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.UCMobile.intent.action.OPENVIDEO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.UCMobile.intent.action.BARCODESCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.UCMobile.intent.action.NOTIFICATION_TOOL_SETTING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.http.NETWORK_STATE" />
                <action android:name="android.intent.action.PROXY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:scheme="ucweb" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/vnd.wap.xhtml+xml" />
                <data android:mimeType="text/css" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ftp" />
                <data android:scheme="thunder" />
                <data android:scheme="ed2k" />
                <data android:scheme="flashget" />
                <data android:scheme="magnet" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/x-bttorrent" />
                <data android:pathPattern=".*\.torrent" />
            </intent-filter>
        </activity>
    </application>

</manifest>